<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JAVA Tutorial</title>
    <link href="/stylesheets/css/default.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.2.6.pack.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.flow.1.1.min.js" type="text/javascript"></script>
    
     <!--[if lt IE 7]>
            <script type="text/javascript" src="unitpngfix.js"></script>
    <![endif]-->   

    
    <script type="text/javascript">
    $(function() {
        $("div#controller").jFlow({
            slides: "#slides",
            width: "980px",
            height: "983px"
        });
    });
    </script>
</head>
<body>
<h1 class="mio">Java Tutorial</h1>

<div id="wrap">

    <div id="controller" class="hidden">
        <span class="jFlowControl">No 1</span>
        <span class="jFlowControl">No 2</span>
        <span class="jFlowControl">No 3</span>
	<span class="jFlowControl">No 4</span>
	<span class="jFlowControl">No 5</span>
	<span class="jFlowControl">No 6</span>
	<span class="jFlowControl">No 7</span>
	<span class="jFlowControl">No 8</span>
	<span class="jFlowControl">No 9</span>
	<span class="jFlowControl">No 10</span>
	<span class="jFlowControl">No 11</span>
	<span class="jFlowControl">No 12</span>
	<span class="jFlowControl">No 13</span>
	<span class="jFlowControl">No 14</span>
	<span class="jFlowControl">No 15</span>
	<span class="jFlowControl">No 16</span>
	<span class="jFlowControl">No 17</span>
    </div>
    
    <div id="prevNext">
        <img src="images/prev.png" alt="Previous Tab" class="jFlowPrev" />
        <img src="images/next.png" alt="Next Tab" class="jFlowNext" />
    </div>
    
    <div id="slides">
        <div><img src="images/1.png" alt="photo" /></div>
	<div><img src="images/2.png" alt="photo" /></div>
	<div><img src="images/3.png" alt="photo" /></div>
	<div><img src="images/4.png" alt="photo" /></div>
	<div><img src="images/5.png" alt="photo" /></div>
	<div><img src="images/6.png" alt="photo" /></div>
	<div><img src="images/7.png" alt="photo" /></div>
	<div><img src="images/8.png" alt="photo" /></div>
	<div><img src="images/9.png" alt="photo" /></div>
	<div><img src="images/10.png" alt="photo" /></div>
	<div><img src="images/11.png" alt="photo" /></div>
	<div><img src="images/12.png" alt="photo" /></div>
	<div><img src="images/13.png" alt="photo" /></div>
	<div><img src="images/14.png" alt="photo" /></div>
	<div><img src="images/15.png" alt="photo" /></div>
	<div><img src="images/16.png" alt="photo" /></div>
	<div><img src="images/17.png" alt="photo" /></div>
	
    </div>
    
</div><!-- end wrap -->
</body>
</html>
